
.chart-overlay1 {
  position: absolute;
  bottom: 4.2vh;
  right: 0.2vw;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 0.4vw;
}

.chart-cards1 {
  display: flex;
  flex-direction: column;
  gap: 0.4vw;
  width: 100%;

  .chart-card {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    cursor: pointer;
    background: rgb(0 30 60 / 80%);
    border: 1px solid rgb(0 204 255 / 30%);
    border-radius: 8px;
    transition: all 0.3s ease;
    width: 260px;
    height: 180px;
    padding: 0.3vw !important;
  }
}


