.common-index {
  height: 100%;
  padding: 0.5rem;
  background-color: hsl(var(--card));
  overflow: auto;

  .icon-first {
    margin-right: 5px;
  }

  .table-first {
    display: flex;
    align-items: center;
  }

  .vxe-grid {
    padding-left: 0px;
    padding-bottom: 0px;
  }

  .el-tabs__header {
    margin-bottom: 0px;
  }

  .el-tabs__item {
    padding-left: 5px;
  }

  .common-tabs {
    position: relative;
  }

  .park-lot-table-new {
    height: 84vh;

    .vxe-buttons--wrapper {
      padding-top: 0px;
    }

    .table-first {
      display: flex;
      align-items: center;

      .tabel-tab-icon {
        margin-right: 5px;
        cursor: pointer;
      }
    }

    .vxe-tools--wrapper {
      position: fixed;
      right: 77px;
      top: 90px;
    }

    .vxe-tools--operate {
      position: fixed;
      right: 0px;
      top: 90px;
    }

    .vxe-pager .vxe-pager--sizes {
      margin-right: 10px;
    }

    .vxe-grid--bottom-wrapper {
      width: 500px;
      top: 18px;
      z-index: 1;

      .common-total {
        font-size: 14px;
        display: inline;
        position: relative;
        cursor: pointer;
      }

      .common-total-bottom {
        font-size: 14px;
        margin-left: 18px;
      }

      .bottom-title {
        font-size: 14px;
        cursor: pointer;
      }
    }

    .vxe-grid--pager-wrapper {
      .vxe-pager {
        margin-top: -9px;
      }
    }

    .common-tool-bar-config {
      .vxe-tools--operate {
        .vxe-button:nth-child(2) {
          display: none;
        }
      }
    }

    .vxe-grid--table-wrapper {
      max-height: 71vh;
      overflow: auto;
    }
  }

  .common-align {
    cursor: pointer;
  }

  .detail-card {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #e4e7ed;
    border-radius: 6px;
    transition: all 0.3s ease;

    .detail-card-row {
      display: flex;
      align-items: center; 
      font-size: 14px;
      line-height: 1.5;  
      padding-bottom: 8px;
      .detail-row-left {
        width: 100px;
        margin-right: 16px;
        font-weight: 500;
        color: #606266;
        text-align: right;
      }
    }
  }

  .detail-card:hover {
    border-color: #409eff;
  }
}